<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ajbe.primertaller">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presentation.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".presentation.MathActivity"
            android:label="@string/title_activity_math"
            android:parentActivityName=".presentation.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ajbe.primertaller.presentation.MainActivity"/>
        </activity>
        <activity
            android:name=".presentation.ConvertTemperatureActivity"
            android:label="@string/title_activity_conv_temperature"
            android:parentActivityName=".presentation.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ajbe.primertaller.presentation.MainActivity"/>
        </activity>
        <activity
            android:name=".presentation.ConvertBaseActivity"
            android:label="@string/title_activity_convert_base"
            android:parentActivityName=".presentation.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ajbe.primertaller.presentation.MainActivity"/>
        </activity>
    </application>

</manifest>